.card-title{
    color:rgb(0, 0, 0);
    font-family:Monospace;
    
}
.boxdetail{
    background-color:#eea088;
}
.addcardcontent{
    border-radius: 10px;
    background-color: rgb(230, 215, 215);
}
.textpost{
    color:red;
}
.textdate{
    color:rgb(0, 85, 0);
}
.fixboxdetail{
    justify-content: center;
    justify-items: center;
    /* background-color:red; */
    margin-top: 20px;
}
