.add{
    background-color:#eea088;
    
    border-radius: 12px;
    padding:10px;
    margin: 5px;
}
.textprojectsummary{
    color:rgb(20, 19, 19);
    /* box-shadow: 2px -1px 20px 2px  rgb(161, 160, 160); */
    /* background-color: rgb(226, 218, 218); */
}
.textdateprojectsummary{
    color:rgb(15, 88, 21);
}